/*
Reset per
- Azzerare margini
- Azzerare i padding
- Impostare il box sizing di tipo border-box
- Reset Dimensione immagine
- Reset Button
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

button{
    border: 0;
    padding: 0;
}

/* FONT DM SANS & SIGMAR */

/* <weight>: Use a value from 100 to 1000
<uniquifier>: Use a unique and descriptive class name */
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.0;
}

/* Resto del CSS */

body{
    background-color: #001c81;
    color: white;
}

.sezione-principale{
     
     margin: auto 48px;
     padding: 48px;
     text-align: center;
     min-width: 200px;
     
}

.spacing-testo{
    margin-bottom: 16px;
}

button{
    display: block;
}

.Button-primario{

    margin: 16px auto;
    line-height: 16px;
    background-color: white;
    color: black;
    border-radius: 18px;
    padding: 16px;
    width: 100%;
    box-shadow: #101010 3px 13px 10px 0.02px;
}

.Button-secondario{

    margin: 16px auto;
    line-height: 16px;
    background-color: #5a75ff;
    color: white;
    border-radius: 18px;
    padding: 16px;
    width: 100%;
    box-shadow: #101010 3px 13px 10px 0.02px;
}

.card-container{
    
     background-color: #5a75ff;
     margin: auto 48px;
     padding: 36px;
     min-width: 200px;
     border-radius: 18px;
     position: relative;
}

.image-adapter{
    border-radius: 16px;
}

.badgedecorativo-Occhi{
    position: absolute;
    top: 100px;
    left: 80px;
    transform: translate(-37%, -89%) scale(0.3);
}


.badgedecorativo-Discord{
    position: absolute;
    top: 100px;
    left: 80px;
    transform: translate(-44%, -77%) scale(0.2);
}

article{
    margin-bottom: 48px;
}

.SecondaryTitle{
    font-size: 32px;
    max-width: 80%;
}

.bi{
    padding-right: 8px;
}