/*
Reset per
- Azzerare margini
- Azzerare i padding
- Impostare il box sizing di tipo border-box
- Reset Dimensione immagine
- Reset Button
- Reset Video
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

button{
    border: 0;
    padding: 0;
}

video{
    max-width: 100%;
    display: block;
}
/* FONT DM SANS & SIGMAR */

/* <weight>: Use a value from 100 to 1000
<uniquifier>: Use a unique and descriptive class name */
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.0;
}

/* Resto del CSS */

body{
    background-color: #001c81;
    color: white;
}

.sezione-principale{
     
     margin: auto 48px;
     padding: 48px;
     text-align: center;
     min-width: 200px;
     
}

.spacing-testo{
    margin-bottom: 16px;
}

button{
    display: block;
}

.Button-primario{

    margin: 16px auto;
    line-height: 16px;
    background-color: white;
    color: black;
    border-radius: 18px;
    padding: 16px;
    width: 100%;
    box-shadow: #101010 3px 13px 10px 0.02px;
}

.Button-secondario{

    margin: 16px auto;
    line-height: 16px;
    background-color: #5a75ff;
    color: white;
    border-radius: 18px;
    padding: 16px;
    width: 100%;
    box-shadow: #101010 3px 13px 10px 0.02px;
}

.card-container{
    
     background: #7e82f7;
     background: linear-gradient(90deg, rgba(126, 130, 247, 1) 0%, rgba(32, 58, 227, 1) 100%);
     margin: 0 auto;
     padding: 36px;
     max-width: 400px;
     border-radius: 18px;
     position: relative;
}

.image-adapter{
    border-radius: 16px;
}

.badgedecorativo-Occhi{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -162%) scale(0.3);
}


.badgedecorativo-Discord{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -125%) scale(0.2);

}

article{
    margin-bottom: 48px;
}

.SecondaryTitle{
    font-size: 32px;
    max-width: 80%;
}

.bi{
    padding-right: 8px;
}